<div class="container mt-4">
  @if (authService.isAuthenticated(); as isAuth) {
    @if (isAuth) {
      <p>Is Authenticated: <strong>true</strong></p>
      <button class="btn btn-danger" (click)="authService.logout()">Logout</button>

      @if (authService.userData().userData; as user) {
        <hr />
        <h5>User Data</h5>
        <pre>{{ user | json }}</pre>
      }
    } @else {
      <p>Is Authenticated: <strong>false</strong></p>
      <button class="btn btn-primary" (click)="authService.login()">Login</button>
    }
  }
</div>

<router-outlet />
